@charset "utf-8";

/* CSS Document */



@media(max-width:1680px) {

    .homebannerblock3 .block3_textcontain{ margin-left: 150px;}

    .homelogo{ left:-50px;}

    .menublock{ left:280px;}

    .topphoneblock{ left:1160px;}



    .hometextcon{ width:980px;}

    .hometextcon h2{ font-size:72px;}



    .homebannerlogo{ width:520px; margin:67px 0 0 60px; float:left;}



    .textblock2 p{ width:580px;}



    .homebannerblock2{ min-height:560px;}

}





@media(max-width:1600px) {

    .homelogo{ left:-90px;}

    .menublock{ left:240px;}

    .topphoneblock{ left:1120px;}



    .hometextcon{ width:950px;}

    .hometextcon h2{ font-size:70px;}



    .homebannerlogo{ width:500px; margin:67px 0 0 60px; float:left;}

    .hometextcon h3{ font-size:32px;}



    .textblock2 p{ width:560px;}



    .textblock2 h2{ font-size:44px;}



    .homebannerblock2{ min-height:530px;}

}







@media(max-width:1366px) {

    .homelogo{  width:200px; left:-70px; margin-top:40px;}

    .homelogo img{ width:100%;}



    .menublock{ left:160px;}



    .topphoneblock{ left:1020px;}

    .topphoneblock h2{ font-size:14px;}

    .topphoneblock h3{ font-size:30px;}





    .hometextcon{ width:730px; margin-top:230px;}

    .hometextcon h2{ font-size:54px;}



    .homebannerlogo{ width:480px; margin:67px 0 0 60px; float:left;}

    .hometextcon h3{ font-size:24px;}



    .homebannerblock2{ background:url(../images/img3.png) no-repeat right top; background-size:110%; min-height:500px;}



    .textblock2{ margin-left:268px; width:600px; }

    .textblock2 p {

        width: 480px; margin-top:38px;

    }

    .textblock2 h2 {

        font-size: 40px;

    }



    .homebannerblock3 .block3_textcontain{  margin-left:80px;}
	
	
	
	.col-md-4_textcon{height:450px;}



.hometextblock .col-md-4 h4{ height:40px;}


}





@media(max-width:1300px) {

    .homelogo{  width:200px; left:-40px; margin-top:40px;}

    .homelogo img{ width:100%;}



    .menublock{ left:185px;}



    .menublock .navbar li a{ font-size:15px;}

    .topphoneblock{ left:1000px;}

    .topphoneblock h2{ font-size:14px;}

    .topphoneblock h3{ font-size:30px;}



    .hometextcon {

        width: 700px;

    }

    .hometextcon h2 {

        font-size: 48px;

    }



    .hometextcon h3 {

        font-size: 22px;

    }





}







@media(max-width:1280px) {

    .homebannerlogo{ width:400px; margin:67px 0 0 60px; float:left;}

    .topphoneblock{ left:980px;}

    .menublock{ left:180px;}

    .homelogo{  width:200px; left:-30px; margin-top:40px;}



    .textblock2 p {

        width: 440px; font-size:16px;

    }

    .homebannerblock2{  min-height:460px;}
	
	
	.footertopcon{ width:604px; margin:0 auto;}
	
	.footertopcon .div1{ width:300px; margin:0 1px; height:100px; background:#f8e5cd; float:left;}
.footertopcon .div2{ width:300px; margin:0 1px; height:100px; background:#ddc6b9; float:left;}
.footertopcon .div3{ width:300px; margin:0 1px; height:100px; background:#e0c0d6; float:left;}
.footertopcon .div4{ width:300px; margin:0 1px; height:100px; background:#5ba1a4; float:left;}

}





@media(max-width:1199px) {


.hometextblock2{background:url(../images/bg5.png) no-repeat left bottom; background-size:cover; height:auto; position:relative;  }
.hometextblock2 .hometextcon2{background:url(../images/bg3.png) no-repeat left bottom; background-size:cover; padding:20px; top:0; right:0; width:90%; margin:20px auto; position:inherit;}


.hometextblock3 .home3blockbox{ width:100%; margin:0 auto; float:none;}

    .topblock{ background-image:none; background-color:#000000; height:auto;  }



    .homelogo{ position:inherit; width:100%; margin:15px auto; left:0;}

    .homelogo img{ width:auto; max-width:80%; display:block; margin:0 auto;}



    .menublock{position:inherit; width:100%; left:0; margin:0 auto; margin-top:15px;   }



    .topphoneblock{position:inherit; width:100%; left:0; margin:15px auto; overflow:hidden; }



    .topphoneblock h2{ margin:0px 0 8px 0; padding:0; font-size:18px; }

    .topphoneblock h3{ margin:0; padding:0; font-size:36px; }



    .topblock .container{ position:relative; width:100%;}



    .responsivemenu {

        color: #fff;

        display: inline-block;

        font-family:'Raleway-Bold';

        font-size: 22px;

        font-weight: bold;

        padding: 2px 0 0 48px;

    }

    .topblock .navbar-header {

        display: block;

        margin: 0 auto!important;

        padding: 4px 10px 6px 10px;

        width: auto;

        float:none;

        background:#0d0d0d;

    }

    .topblock .navbar-toggle {

        display: inline-block;

        float: right;

        margin: 2px 0 0 0;

        background:#000;

    }

    .topblock .nav {

        padding: 0;

        text-align: center;

        width: 100%;

        margin-top:4px !important;

    }

    .topblock .nav a {

        border:  none !important;

        display: block;

        font-size: 18px;

        line-height: inherit !important;

        padding: 0 !important;

    }

    .topblock .navbar-collapse {

        margin: 0;

        padding: 0;

        border:none!important;

    }

    .topblock .navbar-nav {

        margin: 0;

        padding: 0;

    }

    .topblock .navbar-collapse.collapse {

        border:  none !important;

        display: none !important;

    }

    .topblock .navbar-nav {

        border: medium none !important;

        float: none !important;

        background:#0d0d0d;

        border:none!important;

        margin:0!important;

        padding:0!important;

    }

    .topblock .navbar-nav > li {

        float: none;

        padding:0!important;

        margin:0!important;

        border:none!important;

    }

    .topblock .navbar-nav > li a {

        padding:10px 0!important;

        font-size:16px;

        border-top:solid 1px #2e2e2e!important;

    }

    .topblock .collapse.in {

        display: block !important;

    }

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {

        background-color: #0d0d0d;

        color: #010101;

    }

    .topblock .dropdown-menu {

        display: block;

        margin-top: 5px;

        padding: 0;

        position: inherit;

        top: 0;

        width: 100%;

    }

    .topblock .navbar-default {

        background:#0d0d0d;

    }



    .tophomebanner{ display:block; width:100%;}



    .homebannerblock{ background-image:none; background-color:#949393;  height:auto; margin-top:0px;  padding:0;}



    .homebannerlogo{ float:none; width:100%; margin:25px auto; padding:25px 25px 0 25px!important;}



    .homebannerlogo img{ display:block; width:auto; margin:0 auto; max-width:100%;}



    .hometextcon{ width:100%; float:none; text-align:center; margin:0; padding:0 25px 25px 25px!important;}





    .hometextcon h2{ font-size:85px; }



    .hometextcon h3{font-size:36px;}



    .homebannerblock2{ background:none; min-height:inherit;}





    .blockimg1{ display:block; margin:0 auto; max-width:100%;}



    .blockimg2{ display:block; margin:0 auto; max-width:100%;}



    .textblock2{ width:100%; margin-left:0; text-align:center; padding-top:0; margin-bottom:20px;}



    .textblock2 h2{ font-size:48px; padding:0 10px;}



    .textblock2 p{  width:100%; padding:0 10px; margin-top:56px; 	 font-size:18px;}



    .homebannerblock3 .block3_textcontain{ width:90%; margin:0 auto; padding:0 10px!important;}



    .homebannerblock3 .block3_textcontain p{ width:100%;}



    .conboxwrapper{ width:492px; margin-bottom:0px; padding-bottom:0px;}

    .conbox1{ margin-bottom:20px;}



.hometextblock .col-md-4{ padding:25px 2%!important; width:46%; }
.homelogo{ position:inherit; display:block; margin:0 auto;}

.homelogo img{ display:block; margin:20px auto;}

.homelogo  content { width:100%;}
}

@media(max-width:991px) {
.hometextblock { width:90%;}
.hometextblock .col-md-4{ padding:25px 0!important; width:100%; }

.col-md-4_textcon{height:auto;}

.textblock2{ width:90%; margin:0 auto;}
.textblock2 p{ width:100%!important; padding:0!important;}


}

@media(max-width:580px) {



    .bannerlinkbox{ margin:0 auto; margin-top:18px; width:100%;}

    .bannerlinkbox .bannerlink1{ float:none; margin:0 auto; margin-bottom:15px;}

    .bannerlinkbox .bannerlink2{ float:none; margin:0 auto; }



    .conboxwrapper{ width:246px; margin-bottom:0px; padding-bottom:0px;}

}

@media(max-width:640px) {
	.footertopcon{ width:100%; margin:0 auto;}
	
	.footertopcon .div1{ width:100%; float:none; margin-bottom:1px;}
.footertopcon .div2{width:100%; float:none; margin-bottom:1px;}
.footertopcon .div3{ width:100%; float:none; margin-bottom:1px;}
.footertopcon .div4{ width:100%; float:none; margin-bottom:1px;}

}
@media(max-width:480px) {

    .hometextcon h2{ font-size:56px;}



}