<div class="footerbody">
<div class="footertopcon">
<div class="div1">
<h2><content name='footerdiv1h281' id='81' > </content></h2>
<h3><content name='footerdiv1h382' id='82' > </content></h3>
</div>
<div class="div2">
<h2><content name='footerdiv2h283' id='83' > </content></h2>
<h3><content name='footerdiv2h384' id='84' > </content></h3>
</div>


<div class="div3">
<h2><content name='footerdiv3h285' id='85' > </content></h2>
<h3><content name='footerdiv3h386' id='86' > </content></h3>
</div>

<div class="div4">
<h2><content name='footerdiv4h287' id='87' > </content></h2>
<h3><content name='footerdiv4h388' id='88' > </content></h3>
</div>



<div class="clearfix"></div>
</div>


<div class="container footerwrapper">
<div class="footerlogo"><a href="javascript:void(0)"><content name='footerlogo78' id='78' > </content></a></div>

<div class="footermenu">  <a href="javascript:void(0)">Treatments and Services</a>  &bull;     <a href="javascript:void(0)">Products</a>  &bull;     <a href="javascript:void(0)">About the Spa</a>   &bull;     <a href="javascript:void(0)">Reviews</a>   &bull;    <a href="javascript:void(0)">Contact</a></div>


<div class="footersociallink">
<a href="javascript:void(0)"><img src="images/tink.png" alt="#"></a> 
<a href="javascript:void(0)"><img src="images/fink.png" alt="#"></a> 
<a href="javascript:void(0)"><img src="images/yink.png" alt="#"></a> 
<a href="javascript:void(0)"><img src="images/gink.png" alt="#"></a> 

</div>

<div class="footercopyright">
<content name='footercopyright80' id='80' > </content>

</div>


</div>

</div>



