<!--

<content name='jhkjh4' id='4' > </content>

<content name='sas5' id='5' > </content>-->




<div class="container-fluid mainbanner">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <!--<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>-->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    

    <div class="item active">
       <content name='homebanner210' id='10' > </content>
    </div>
    
  </div>

  <!-- Left and right controls -->
<!--  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
   
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    
  </a>-->
</div>



</div>




<div class="container-fluid homebannerblock2">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="container">

<div class="blockimg1"><img src="images/img1.png" ></div>
<div class="textblock2">
<h2><!--Just The Right Kind Of Relax--><content name='homebannerblock2_h2text11' id='11' > </content></h2>

<!--<p>Our professional and courteous staff invites you to relax and pamper yourself at Hands of Healing Massage & Spa Studio.<br>
<br>


Nestled in downtown Hayward, Hands of Healing Massage & Spa Studio is your local hidden retreat, allowing you to escape from your daily stressors. <br>
<br>

Pamper yourself with a therapeutic massage, soothing facial, or an indulgent spa treatment. Bask in the soothing sounds of ethereal fountains and tranquil music while resting on heated massage tables, surrounded by aroma therapeutic fragrances.
</p>-->
<p><content name='homebannerblock2_ptext12' id='12' > </content></p>
</div>
<div class="blockimg2"><img src="images/img2.png" ></div>
</div>


</div>
</div>
</div>


<div class="container-fluid homebannerblock3">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

<div class="block3_textcontain">
<h2><!--We've Got Your Back With More <br>
Spa Package Options-->
<content name='homebannerblock3text114' id='14' > </content>
</h2>

<p>
<!--Whether you are coming for the entire day or just a few hours, we have designed packages that will compliment each other, giving you the ultimate Hands of Healing experience.-->
<content name='homebannerblock3text215' id='15' > </content>
</p>

<div class="conboxwrapper">
<div class="conbox1">
<label><content name='homebannerblock416' id='16' > </content></label>

<div class="imgbox4"><content name='homebannerblock4img121' id='21' > </content></div>

</div>

<div class="conbox1">
<label><content name='homebannerblock4text217' id='17' > </content></label>

<div class="imgbox4"><content name='homebannerblock4img222' id='22' > </content></div>

</div>

<div class="conbox1">
<label><content name='homebannerblock4text318' id='18' > </content></label>

<div class="imgbox4"><content name='homebannerblock4img323' id='23' > </content></div>

</div>


<div class="conbox1">
<label><content name='homebannerblock4text419' id='19' > </content></label>

<div class="imgbox4"><content name='homebannerblock4img424' id='24' > </content></div>

</div>

<div class="clearfix"></div>
</div>
</div>



</div>
</div>
</div>




<div class="container hometextblock">
<div class="row">

<h5><content name='hometextblockh425' id='25' > </content></h5>


<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
<h2><!--Massage Therapy--><content name='hometextblock_textsec126' id='26' > </content></h2>

<div class="col-md-4_textcon">
<h4><content name='h4textblock1_text136' id='36' > </content>
<div class="clearfix"></div>
</h4>

<p><content name='h4textblock1_p139' id='39' > </content></p>


<h4><content name='h4textblock1_text237' id='37' > </content>
<div class="clearfix"></div>
</h4>

<p><content name='h4textblock1_p240' id='40' > </content></p>


<h4><content name='h4textblock1_text338' id='38' > </content>
<div class="clearfix"></div>
</h4>

<p><content name='h4textblock1_p341' id='41' > </content></p>
</div>
<div class="viewmorelink"><content name='viewmorelink142' id='42' > </content></div>
<div class="clearfix"></div>

</div>


<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
<h2><!--Skin Therapy--><content name='hometextblock_textsec227' id='27' > </content></h2>
<div class="col-md-4_textcon">
<h4><content name='h4textblock2_text143' id='43' > </content>
<div class="clearfix"></div>
</h4>

<p><content name='h4textblock2_p144' id='44' > </content></p>


<h4><content name='h4textblock2_text245' id='45' > </content>
<div class="clearfix"></div>
</h4>

<p><content name='h4textblock2_p246' id='46' > </content> </p>


<h4><content name='h4textblock2_text347' id='47' > </content>
<div class="clearfix"></div>
</h4>

<p><content name='h4textblock2_p348' id='48' > </content> </p>

</div>

<div class="viewmorelink"><content name='viewmorelink257' id='57' > </content></div>
<div class="clearfix"></div>

</div>

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
<h2><content name='hometextblock_textsec3m29' id='29' > </content></h2>
<div class="col-md-4_textcon">
<h4><content name='h4textblock3_text150' id='50' > </content>
<div class="clearfix"></div>
</h4>

<p><content name='h4textblock3_p154' id='54' > </content> </p>


<h4><content name='h4textblock3_text2m52' id='52' > </content>
<div class="clearfix"></div>
</h4>

<p><content name='h4textblock3_p255' id='55' > </content> </p>


<h4><content name='h4textblock3_text353' id='53' > </content>
<div class="clearfix"></div>
</h4>

<p><content name='h4textblock3_p356' id='56' > </content>  </p>



<div class="viewmorelink"><content name='viewmorelink358' id='58' > </content></div>
<div class="clearfix"></div>
</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
<h2><content name='hometextblock_textsec430' id='30' > </content></h2>


<div class="col-md-4_textcon">

<h4><strong>Bronze</strong>	      <span>$100</span>
<div class="clearfix"></div>
</h4>

<p>Full Body Massage Observation Facial </p>


<h4><strong>Silver</strong>   <span>$145</span>
<div class="clearfix"></div>
</h4>

<p>&frac12; Body Massage Observation/Maintenance Facial Manicure Pedicure Light Lunch and Beverage </p>


<h4><strong>Gold</strong>     <span>$245</span>
<div class="clearfix"></div>
</h4>

<p>Full Body Massage Body Scrub Observation/Maintenance Facial Manicure Pedicure Light Lunch and Beverage </p>




<div class="viewmorelink"><a href="javascript:void(0)">View More </a></div>
<div class="clearfix"></div>
</div>

</div>

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
<h2><content name='hometextblock_textsec531' id='31' > </content></h2>

<div class="col-md-4_textcon">

<h4><strong>Brow Design & Tweeze/ Lip Wax</strong>	 	      <span>$10</span>
<div class="clearfix"></div>
</h4>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </p>


<h4><strong>& Lip/ Chin Wax   </strong>          <span>$15</span>
<div class="clearfix"></div>
</h4>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>


<h4><strong>Underarms</strong>       <span>$240</span>
<div class="clearfix"></div>
</h4>

<p>Lorem Ipsum is simply dummy text of the printing and 
typesetting industry.  </p>

<div class="viewmorelink"><a href="javascript:void(0)">View More </a></div>
<div class="clearfix"></div>
</div>

</div>

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
<h2><content name='hometextblock_textsec632' id='32' > </content></h2>
<div class="col-md-4_textcon">
<h4><strong>Back Treatment	</strong>     <span> $45</span>
<div class="clearfix"></div>
</h4>

<p>A relaxing steam cleanse, exfoliating scrub, back and neck massage ,heated mud mask,  </p>


<h4><strong>Body Scrub  </strong>            <span>$75</span>
<div class="clearfix"></div>
</h4>

<p>A soothing spa scrub that will enhance your look by exfoliating the dead skin cells on the body.  </p>


<h4><strong>Soothing Foot Soak </strong>         <span>$25</span>
<div class="clearfix"></div>
</h4>

<p>A refreshing 15-minute soak in a warm foot tub filled with Herbal Infused Salts and hot stones </p>

<div class="viewmorelink"><a href="javascript:void(0)">View More </a></div>
<div class="clearfix"></div>
</div>
</div>


<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
<h2><content name='hometextblock_textsec733' id='33' > </content></h2>

<div class="col-md-4_textcon">

<h4><strong>SaunaGen Infrared Sauna</strong>    
<div class="clearfix"></div>
</h4>

<p>Saunas have been around for hundreds of years in Europe, especially Northern Europe. In America, some of the earliest inhabitants developed the tradition of "sweat lodges" for both health and spiritual benefits.<br>
<br>

Heat enhances blood circulation and promotes oxygenation of body tissues. It provides proven relief of aches, pains and stiffness. Heat also increases energy production in the body. This facilitates healing and requires the burning of calories, which results in effortless weight loss. It also causes an increase in heart rate, which results in an effortless cardiovascular workout.</p>

<h4><strong>SaunaGen Infrared Sauna   </strong> 
<div class="clearfix"></div>
</h4>

<p>Saunas have been around for hundreds of years in Europe, especially Northern Europe. In America, some of the earliest inhabitants developed the tradition of "sweat lodges" for both health and spiritual benefits.<br>
<br>

Heat enhances blood circulation and promotes oxygenation of body tissues. It provides proven relief of aches, pains and stiffness. Heat also increases energy production in the body. This facilitates healing and requires the burning of calories, which results in effortless weight loss. It also causes an increase in heart rate, which results in an effortless cardiovascular workout.</p>

<h4><strong>SaunaGen Infrared Sauna</strong>    
<div class="clearfix"></div>
</h4>

<p>Saunas have been around for hundreds of years in Europe, especially Northern Europe. In America, some of the earliest inhabitants developed the tradition of "sweat lodges" for both health and spiritual benefits.<br>
<br>

Heat enhances blood circulation and promotes oxygenation of body tissues. It provides proven relief of aches, pains and stiffness. Heat also increases energy production in the body. This facilitates healing and requires the burning of calories, which results in effortless weight loss. It also causes an increase in heart rate, which results in an effortless cardiovascular workout.</p>

<div class="viewmorelink"><a href="javascript:void(0)">View More </a></div>
<div class="clearfix"></div>
</div>

</div>

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
<h2><content name='hometextblock_textsec834' id='34' > </content></h2>

<div class="col-md-4_textcon">

<h4><strong>Dermalogica MicroZone Facials </strong>         <span>$35</span> 
<div class="clearfix"></div>
</h4>

<p>Target your most pressing skin care concerns in a snap with a 20 minute facial treatment! It's quick, simple, and effective.<br>
<br>

$35 for a 20 minute session. Includes free face mapping. Twelve different options to choose for your skin needs:<br>
<br>
Flash Exfoliation - Resurface, renew and brighten with maximum strength exfoliation treatment! Hydroxy acids and Retinol lift away dull surface cells a nourishing cocktail of vitamins, peptides and botanical extracts help reverse visible signs of aging, revealing healthy, glowing skin</p>
<h4><strong>Dermalogica MicroZone Facials</strong>          <span>$35</span> 
<div class="clearfix"></div>
</h4>

<p>Target your most pressing skin care concerns in a snap with a 20 minute facial treatment! It's quick, simple, and effective.<br>
<br>

$35 for a 20 minute session. Includes free face mapping. Twelve different options to choose for your skin needs:<br>
<br>
Flash Exfoliation - Resurface, renew and brighten with maximum strength exfoliation treatment! Hydroxy acids and Retinol lift away dull surface cells a nourishing cocktail of vitamins, peptides and botanical extracts help reverse visible signs of aging, revealing healthy, glowing skin</p>
<h4><strong>Dermalogica MicroZone Facials </strong>         <span>$35</span> 
<div class="clearfix"></div>
</h4>

<p>Target your most pressing skin care concerns in a snap with a 20 minute facial treatment! It's quick, simple, and effective.<br>
<br>

$35 for a 20 minute session. Includes free face mapping. Twelve different options to choose for your skin needs:<br>
<br>
Flash Exfoliation - Resurface, renew and brighten with maximum strength exfoliation treatment! Hydroxy acids and Retinol lift away dull surface cells a nourishing cocktail of vitamins, peptides and botanical extracts help reverse visible signs of aging, revealing healthy, glowing skin</p>

<div class="viewmorelink"><a href="javascript:void(0)">View More </a></div>
<div class="clearfix"></div>
</div>

</div>

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
<h2><content name='hometextblock_textsec935' id='35' > </content></h2>
<div class="col-md-4_textcon">
<h4><strong>Basic Make-up Application</strong>      <span>  $35</span>
<div class="clearfix"></div>
</h4>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.   </p>


<h4><strong>Special Occasion and Full Application</strong>             <span>$50 </span>
<div class="clearfix"></div>
</h4>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </p>


<h4><strong>Bridal Make-Up Application</strong>     <span>$150</span>
<div class="clearfix"></div>
</h4>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
<div class="viewmorelink"><a href="javascript:void(0)">View More </a></div>
<div class="clearfix"></div>
</div>

<div class="clearfix"></div>

</div>





<div class="viewalllinkdiv"><a href="javascript:void(0)">View All Treatments</a></div>


</div>

</div>

<div class="container-fluid hometextblock2">

<div class="hometextcon2">
<h2><content name='hometextcon2h259' id='59' > </content></h2>
<div class="hometextcon2ptext">
<content name='hometextcon2ptext60' id='60' > </content>

</div>

</div>


</div>


<div class="container-fluid hometextblock3">


<div class="hometextblock3_wrapper">
  <h2><content name='homebottomh2text61' id='61' > </content></h2>
  
  
  <div class="home3blockbox">
  <h4 style="color:#9bbad2;"><content name='homebottomh4text162' id='62' > </content></h4>
  
  <p><content name='homebottomptext163' id='63' > </content></p>
  
  <a href="javascript:void(0)"><content name='homebottomimg164' id='64' > </content> </a>
  </div>
  
  <div class="home3blockbox">
  <h4 style="color:#b1bb43;"><content name='homebottomh4text265' id='65' > </content></h4>
  
  <p><content name='homebottomptext266' id='66' > </content></p>
  
  <a href="javascript:void(0)"><content name='homebottomimg267' id='67' > </content> </a>
  </div>
  
  <div class="home3blockbox">
  <h4 style="color:#9b4a00;"><content name='homebottomh4text368' id='68' > </content></h4>
  
  <p><content name='homebottomptext369' id='69' > </content></p>
  
  <a href="javascript:void(0)"><content name='homebottomimg370' id='70' > </content> </a>
  </div>
  
  <div class="home3blockbox">
  <h4 style="color:#7f6444;"> <content name='homebottomh4text471' id='71' > </content></h4>
  
  <p><content name='homebottomptext472' id='72' > </content></p>
  
  <a href="javascript:void(0)"><content name='homebottomimg473' id='73' > </content> </a>
  </div>
  
  

<div class="clearfix"></div>
</div>

</div>